.btn {
    padding: 10px;
    margin: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
    box-shadow: 0 4.42184px 107.23px rgba(255, 86, 246, .51);
  }
  
  .btn:hover {
    background: linear-gradient(92.23deg, salmon 21.04%, #3bace2 50%, orange 100%, #ff56f6 117.43%);
  }