.task-input {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.task-input input {
    background-color: rgba(0, 0, 0, 0.443);
    color: white;
    width: 50%; 
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.task-input button {
    width: 30%; 
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background:linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
    box-shadow: 0 4.42184px 107.23px rgba(255, 86, 246, .51);
    margin-bottom: 20px;
}